* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0%;
}

header {
    background-color: #464646;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

aside {
    background-color: whitesmoke;
    float: left;
    width: fit-content;
}

form {
    text-align: center;
}

main {
    background-color: white;
    float: right;
}

h1 {
    margin: 0%;
}