* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0%;
}

header {
    background-color: #464646;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

aside {
    background-color: whitesmoke;
    border: 2px solid lightgrey;
    border-radius: 3px;
    float: left;
    width: 25%;
    padding: 1em;
    margin-left: 1em;
}

form {
    text-align: center;
}

main {
    background-color: whitesmoke;
    border: 2px solid lightgrey;
    border-radius: 3px;
    float: left;
    width: 60%;
    margin-left: 2em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

h1 {
    margin: 0%;
}

.card {
    margin: 0.5em;
    background-color: mediumseagreen;
    color: white;
    float: left;
}